.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    
}

.btn {
    color: #0099CC;
    color: #0099CC;
    border: 2px solid #0099CC;
    width: 50px;
    font-size: 15px;
}