.content {
    display: block;

    .contentFlex {
        display: flex;
        justify-content: space-between;
    }
    .button {
        background-color: #e60012;
        color: aliceblue;
        font-size: 1em;
        border-radius: 10px;
        width: 200px;
        height: 60px;
        margin-top: 10px;
        font-weight: bold;
        border: 1px solid #e60012;
    }
    .Centerstages{
        width: 100%;
        height: auto;
    }
    .button2 {
        background-color: transparent;
        color: red;
        font-size: 1em;
        border-radius: 10px;
        width: 200px;
        height: 60px;
        margin-top: 10px;
        font-weight: bold;
        border: transparent
    }    

}

.card {
    display: flex;
    justify-content: space-between;
    border: 1px, solid, gray;
    margin: 5px;
    padding: 15px;
    min-width: 300px;
    width: 100%;
}