
    .button {
        background-color: #e60012;
        color: aliceblue;
        font-size: 1em;
        border-radius: 10px;
        width: 200px;
        height: 60px;
        margin-top: 10px;
        font-weight: bold;
        border: 1px solid #e60012;
    }
