
.content { 
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .CardNoticias{ 
        border-radius: 5px;
        border: 1px solid gray;
        width: 250px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        border: 1px solid gray
        color white
    
    }

}


